/* Leave room for nav header & footer fixed to the top & bottom */
body { 
  padding-top:    70px; 
  padding-bottom: 70px; 
}

/* CSS tweaks for small displays */
@media all and (max-width : 400px) {
  h1   { font-size: 30px; }
  h2   { font-size: 26px; }
  h3   { font-size: 20px; }
  h4   { font-size: 15px; }
  h5   { font-size: 12px; }
  h6   { font-size: 10px; }

  .btn { font-size: 12px; }
}

/* For Typeahead component */
.dropdown-color-box { 
  width:  7px; 
  height: 10px;
  display: inline-block;
  margin-right: 7px;
}


